[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
transformers = "*"
pandas = "*"
numpy = "*"
torch = "*"
ipykernel = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
